  <div><%= render "navbar" %></div>
  <div><%= render "categorynavbar" , categories: @categories %></div>
  <%= render "carousal" %>
  <div><%= render "productcart" , products: @products%></div>
  <%= render "footer_carousal" %>
