<%= form_with model: useraddress do |form| %>
  <div class="row g-3 ">
    <div class="col-md-6">
      <div><%= form.label :name ,class:"form-label"%><br></div>
      <div><%= form.text_field :name ,class:"form-control"%></div>
    </div>
    <div class="col-md-4">
      <div><%= form.label :phonenumber ,class:"form-label"%><br></div>
      <div><%= form.text_field :phonenumber ,class:"form-control"%></div>
    </div>
    <div class="col-md-4">
      <div><%= form.label :address ,class:"form-label"%></div>
      <div><%= form.text_field :address ,class:"form-control"%></div>
    </div>
    <div class="col-md-4">
      <div><%= form.label :city ,class:"form-label"%></div>
      <div><%= form.text_field :city ,class:"form-control"%></div>
    </div>
    <div class="col-md-4">
      <div><%= form.label :state ,class:"form-label"%></div>
      <div><%= form.text_field :state ,class:"form-control"%></div>
    </div>
    <div class="col-md-4">
      <div><%= form.label :pincode ,class:"form-label"%></div>
      <div><%= form.text_field :pincode ,class:"form-control"%></div>
    </div>
    <div class="col-md-4">
      <div><%= form.hidden_field :user_id , value:current_user.id ,class:"form-control"%></div>
    </div>
  <div>
    <div class="col-12">
      <div class="form-label"><%=form.submit class:"btn btn-primary"%></div>
    </div>
  </div>
<% end %>

