<h4 class="text-center mt-4 mb-4">Sell Your Product</h4>

  <%= form_with model: @productlist do |form| %>
  <div class="row g-3">
    <div class="col-md-6">
      <div><%= form.label :sellerName  , class:"form-label"%><br></div>
      <div><%= form.text_field :sellerName ,class:"form-control"%></div>
    </div>
    <div class="col-md-6">
      <div><%= form.label :productName ,class:"form-label"%><br></div>
      <div><%= form.text_field :prodcutName ,class:"form-control"%></div>
    </div>
    <div class="col-md-4">
      <div><%= form.label :price ,class:"form-label"%><br></div>
      <div><%= form.text_field :price ,class:"form-control"%></div>
    </div>
    <div class="col-md-2">
      <div><%= form.label :category %></div>
      <%= form.select :category,
      {
        "Fashion" => [ ["Mens"],["Womens"],["Kids"]],
        "Electronics" => [ ["LED tv"], ["AC"], ["Cooler"] ],
        "Mobiles" => [ ["Redmi"], ["Oppo"], ["Samsung"] ],
      }
      %>
    </div> 
    <div class="col-md-6">
      <div><%= form.label :uploadimage ,class:"form-label"%></div>
      <div><%= form.file_field :picture ,class:"form-control"%></div>
    </div>
  </div>
  <div>
    <div class="col-12">
      <div class="form-label" ><%= form.submit %></div>
    </div>
  </div>
  <% end %>

