<%= render "homepage/navbar" %>
<div class="text-center"><h1>My orders</h1></div>
<div class="mt-5">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Image</th>
      <th scope="col">product</th>
      <th scope="col">Price</th>
      <th scope="col">Address</th>
      <th scope="col">Action</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
  <% @orders.each do |order|%>
    <tr>
      <td>
        <%= image_tag url_for(order.product.product_image) ,style:"width:150px; height:150px; margin:0px 0px 0px 0px;", class:"img-fluid rounded-start" if order.product.product_image.attached? %>
      </td>
      <td><%=order.product.name%></td>
      <td><%=order.product.price%></td>
      <td><%=order.useraddress.address%> , <%=order.useraddress.city%> , <%=order.useraddress.state%></td>
      <% if order.product_status.status == "Delivered" %>
      <td><%= link_to "Return", order_item_path(order), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
            },class:"btn btn-success" %></td>
      <% else %>
      <td><%= link_to "Cancel-Order", order_item_path(order), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
            },class:"btn btn-danger" %></td>
      <% end %>
      <% if order.product_status.present? %>
        <td><h6><%= order.product_status.status %></h6></td>
      <% end %>
    </tr>
  <%end%>
  </tbody>
</table>