<%= render "homepage/navbar" %>
<div style="display:flex ; justify-content: space-around;" class="p-5">
<% if @product.present?%>
<div class="card border-info mt-5 shadow p-1 mb-5 bg-body-tertiary rounded" style="width: 22rem;">
  <%= image_tag url_for(@product.product_image) , style:"width:320px; height:300px; margin:10px 10px 10px 10px;", class:"img-fluid rounded-start" if @product.product_image.attached? %>
  <div class="card-body">
    <h6 class="card-title"><%= @product.name %></h6>
    <h6 class="card-title">Price : <%= @product.price %></h6>
    <% dlch = 50 %>
    <h6 class="card-title">Delivery Charges : <%=dlch%></h6>
    <hr>
    <h4 class="card-title">Total Price : <%= dlch + @product.price %></h4>
    <hr>
  </div>
</div>

<% else %>
<div class="card border-info mt-5 shadow p-1 mb-5 bg-body-tertiary rounded" style="width: 40rem;">
<% @cart_items.each do |itm|%>
<div class="card mb-8" style="max-width: 700px; margin:20px">
  <div class="row g-0">
    <div class="col-md-3">
    <%= image_tag url_for(itm.product.product_image) ,style:"width:230px; height:200px; margin:0px 0px 0px 0px;", class:"img-fluid rounded-start" if itm.product.product_image.attached? %> 
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%=itm.product.name%>: <%=itm.product.subcategory.name%></h5>
        <h6 class="card-title">Price : <%= itm.product.price %></h6>
        <p class="card-text"><%= itm.product.description %></p>
      </div>
    </div>
  </div>
</div>
<%end%>
</div> 
<%end%>

<div class="col-6">
<div class="p-2">
<p class="d-inline-flex gap-1">
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Add new address
  </a>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <%= render "useraddresses/form" , useraddress: @useraddress%>
  </div>
</div>
</div>
<% @useraddresses.each do |add|%>
<div class="card border-info mb-2 " style="max-width:45rem;">
  <div class="card-header">
  <p class="card-title">Name : <%=add.name%></p>
    <p class="card-title">Contact No. : <%=add.phonenumber%></p>
    <P class="card-title">Address : <%=add.address%> , <%=add.city%> , <%=add.state%></p>
    <p class="card-text">pincode : <%=add.pincode%></p>
  </div>
  <div class=" p-2 d-flex">
    <div class="">
    <%= link_to "edit", edit_useraddress_path(add) ,class:"btn btn-dange"%>
    <%= link_to "Delete", useraddress_path(add), data: {
                    turbo_method: :delete,
    },class:"btn btn-dange" %>
    </div>
    <div class=" float-end">
    <% if @product.present?%>
    <%= button_to "order-here", orderitem_path(product_id: @product.id, address_id: add),  method: :post ,class:"btn btn-success"%>
    <% else %>
    <%= button_to "order-here", orderitem_path(address_id: add),  method: :post ,class:"btn btn-success"%> 
    <%end%>
    </div>
  </div>
</div>
<%end%>
</div>
</div>
