
<h3 class="text-center mt-4">Wishlist</h3>
<div class="bg-light">
<div class="row justify-content-center" style="float:left">
<% wishlistitems.each do |itm|%>
<div class="card mb-8 p-2" style="max-width: 600px; margin:20px">
  <div class="row g-0">
    <div class="col-md-4">
    <%= image_tag url_for(itm.product.product_image) ,style:"width:230px; height:200px; margin:0px 0px 0px 0px;", class:"img-fluid rounded-start" if itm.product.product_image.attached? %> 
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%=itm.product.name%>: <%=itm.product.subcategory.name%></h5>
        <h6 class="card-title">Price : <%= itm.product.price %></h6>
        <p class="card-text"><%= itm.product.description %></p>
        <%= link_to "Buy now", final_order_path(itm.product_id) , class:"btn btn-primary w-50" %>
      </div>
    </div>
  </div>
  <%= link_to "Remove", wishlist_item_path(itm), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
            },class:"btn btn-dange" %>
</div>
<%end%>
</div>
</div>

