<%= render "homepage/navbar" %>
<div class="justify-content-between mt-5 mb-5">
<div class="container" style="padding-left: 150px;">
<div class="row">
<div class="card mb-8" style="max-width: 1000px;">
  <div class="row g-0">
    <div class="col-md-4">
      <%= image_tag url_for(@product.product_image) ,style:"width:350px; height:400px; margin:10px 0px 10px 0px;", class:"img-fluid rounded-start" if @product.product_image.attached? %> 
      <span style="float:right; margin:0px 10px 10px 0px;">
      <%= link_to "Buy now", finalorder_path(@product) , class:"btn btn-primary w-120" %>
      </span>
      <span style="float:right; margin:0px 10px 10px 0px;">
      <%= button_to "Add to cart", addtocart_path(@product) , class:"btn btn-outline-primary w-120", method: :post %>
      </span>
      <span style="float:left; margin:0px 10px 10px 0px;">
      <%= button_to "Like", addtowishlist_path(@product) , class:"btn btn-outline-warning w-120", method: :post %>
      </span>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%=@product.name%>: <%=@product.subcategory.name%></h5>
        <h6 class="card-title">Price : <%= @product.price %></h6>
        <p class="card-text"><%= @product.description %></p>
        <small class="text-body-secondary">
        <p>Bank Offer10% off up to ₹1,750 on ICICI Bank Credit Card EMI Transactions, on orders of ₹5,000 and aboveT&C</p>
        <p>Bank Offer10% off up to ₹1,000 on ICICI Bank Debit Card Transactions, on orders of ₹5,000 and aboveT&C</P>
        <p>Bank Offer12% off up to ₹1,800 on ICICI Bank Debit Card EMI Transactions, on orders of ₹7,000 and aboveT&C</p>
        </div>
        <div class="btn-group  p-2" role="group" aria-label="Basic radio toggle button group">
        <h3>Size :</h3>
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
        <label class="btn btn-outline-primary" for="btnradio1">M</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio2">L</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio3">XL</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio3">XXL</label>
      </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
<div>
<div class="containr" tyle="margin: 10px ; background-image: url(https://img.freepik.com/free-vector/indian-tricolor-theme-watercolor-texture-background-vector_1055-11999.jpg?w=996&t=st=1723440930~exp=1723441530~hmac=3b4df94ee0a080321b1747435b983a17661150b88f91aae9bbc59ee0ba302743); heigth:100%; width:100%;">
<div class="row">
<% @similar_products.each do |p| %>
<div class="card" style="width: 18rem; margin: 7px;">
  <a href="<%=product_path(p)%>">
  <%= image_tag url_for(p.product_image) ,style: "width:260px; height:260px; margin-top:10px;" , class:"card-img-top" if p.product_image.attached? %>
  </a>
  <div class="card-body">
    <h6 class="card-title">Price : <%= p.price %></h6>
    <p class="card-text" style="font-size:10px; margin:10px;"> <%= p.description %> </p>
  </div>
</div>
<%end%>
</div>
</div>
</div>