<%= render "homepage/navbar" %>
<div class="justify-content-between">
<div class="container" style="padding-left: 150px;">
<div class="row">
<div class="card mb-3" style="max-width: 800px;">
  <div class="row g-0">
    <div class="col-md-4">
      <%= image_tag url_for(@product.product_image) ,style:"width:330px; height:300px; margin:10px 0px 10px 0px;", class:"img-fluid rounded-start" if @product.product_image.attached? %> 
      <span>
      <%= link_to "Buy now", order_item_path(@product) , class:"btn btn-primary w-50" %>
      </span>
      <span style="float:left; margin-right:10px">
      <%= button_to "Add to cart", addtocart_path(@product) , class:"btn btn-outline-primary w-100", method: :post %>
      </span>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%=@product.name%>: <%=@product.subcategory.name%></h5>
        <h6 class="card-title">Price : <%= @product.price %></h6>
        <p class="card-text"><%= @product.description %></p>
        <small class="text-body-secondary">
        <p>Bank Offer10% off up to ₹1,750 on ICICI Bank Credit Card EMI Transactions, on orders of ₹5,000 and aboveT&C</p>
        <p>Bank Offer10% off up to ₹1,000 on ICICI Bank Debit Card Transactions, on orders of ₹5,000 and aboveT&C</P>
        <p>Bank Offer12% off up to ₹1,800 on ICICI Bank Debit Card EMI Transactions, on orders of ₹7,000 and aboveT&C</p>
        </div>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>